<p-toast></p-toast>
<section class="container">
  <header class="header-container">
    <button [routerLink]="['/home']"  pButton pRipple type="button" label="Home" class="p-button-rounded p-button-help"></button>
    <button [routerLink]="['/student']" pButton pRipple type="button" label="Student" class="p-button-rounded p-button-help"></button>  
    <button [routerLink]="['/add']" pButton pRipple type="button" label="Add Student" class="p-button-rounded p-button-help"></button>  
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</section>

